header {
    background-color: #0D0D0C;
    color: beige;
    padding: 8px 0;
    box-shadow: none;

    .navigation {
        padding: 0 4px 0 6px;
        display: flex;
        justify-content: space-between;

        nav {
            display: flex;
            align-items: center;

            .li {
                height: 48px;
                display: flex;
                align-items: center;
            }

            &.nav-left {
                .li {
                    padding: 0 16px
                }
            }

            &.nav-right {
                .li {
                    padding: 0 12px;
                }
            }
        }
    }
}