$primary-p80: #E5CE71;
$primary-p20: #393000;
$primary-p80-8: rgba(229, 206, 113, 0.08);
$primary-p80-12: rgba(229, 206, 113, 0.12);
$primary-p20-8: rgba(57, 48, 0, 0.08);
$primary-p80-12: rgba(57, 48, 0, 0.12);
$surface-n5: #0D0D0C;
$surface-n95: #F2F2F2;
$surface-n60: #9A9693;
$surface-n12: #242423;
$surface-n17: #2C2C2B;
$surface-n22: #393937;
$surface-n95-8: rgba(242, 242, 242, 0.08);
$surface-n95-12: rgba(242, 242, 242, 0.12);